@media (max-width:1200px) {
	.main_container {
		max-width:90%;
	}

	#header {
	    .content {
	        .search {
	            p {
	                .tel {
	                    font-size: 18pt;
	                    line-height: 22pt;
	                }
	            }
	        }// END .search
	    }// END .content
	}// END #header

	#nav {
	    nav {
	        ul {
	            li {
	                a {
	                    font-size: 10pt;
	                }
	            }
	        }
	    }
	}// END  #nav

	#baner_block {
	    .item {
	        height: 350px;

	        article {
	            font-size: 32pt;
	        }
	    }
	    .owl-controls {
	        max-width: 1024px;

	        .owl-pagination {
	            max-width: 1024px;
	        }
	    }
	}// END #baner_block

	#buy_as_you_wish {
	    ul {
	        li {
	            a {
	                height: 50px;
	                line-height: 50px;
	                font-weight: 600;
	                font-size: 16pt;
	            }

	        }
	    }
	}// END #buy_as_you_wish

	#second_baner {
	    margin-top: 20px;

	    .item {
	        height: 250px;

	        article {
	            font-size: 32pt;

	            span {
	                font-size: 90pt;
	            }
	        }
	    }
	}// END #baner_block

	#last_viewed {
	    padding-top: 16px;

	    .f-left  {
	        width: 45%;
	    }

	    .f-right {
	    	width:55%;
	    }
	}// END #last_viewed

	#item_block {
	    .item_viewer {
	        .f_left {
	            width: 450px;
	            height: 450px;
	        }

	        article {
	            margin: 0 0 0 470px;

	            .buy {
	            	font-size: 30pt;
	            }
	        }
	    }// END .item_viewer
	}// #item_block

	.desktop {
		display: none;
	}

	.medium {
		display: block;
	}

	#header_fixed {display: none!important;}
}
@media (max-width:1024px) {
	#header {
	    .content {
	        .search {
	            p {
	                .tel {
	                    font-size: 13pt;
	                    line-height: 26pt;
	                }

	                span {
	                	font-size: 7pt;
	                }
	            }

	            ul {
	            	li {
	            		&.f-right {
	            			p {
	            				font-size: 9pt;
	            			}
	            		}
	            	}
	            }
	        }// END .search
	    }// END .content
	}// END #header

	#nav {
	    nav {
	        ul {
	            li {
	                a {
	                    font-size: 9pt;
	                }
	            }
	        }
	    }
	}// END  #nav

	#baner_block {
	    .item {
	        height: 300px;

	        article {
	            font-size: 26pt;

	            &.bottom {
	                bottom: 15px;
	            }

	            &.right {
	                right: 15px;
	                text-align: right;
	            }

	            &.top {
	                top:15px;
	            }

	            &.left {
	                left: 15px;
	            }
	        }
	    }
	    .owl-controls {
	        max-width: 90%;

	        .owl-pagination {
	            max-width: 90%;
	        }
	    }
	}// END #baner_block

	#buy_as_you_wish {
	    ul {
	        li {
	            a {
	                height: 45px;
	                line-height: 45px;
	                font-size: 14pt;
	            }

	        }
	    }
	}// END #buy_as_you_wish

	#second_baner {
	    margin-top: 20px;

	    .item {
	        height: 250px;

	        article {
	            font-size: 26pt;

	            &.bottom {
	                bottom: 15px;
	            }

	            &.right {
	                right: 15px;
	                text-align: right;
	            }

	            &.top {
	                top:15px;
	            }

	            &.left {
	                left: 15px;
	            }

	            span {
	                font-size: 80pt;
	            }
	        }
	    }
	}// END #baner_block

	#last_viewed {
	    padding-top: 16px;

	    .f-left  {
	        width: 50%;
	    }

	    .f-right {
	    	width:50%;
	    }
	}// END #last_viewed

	#item_block {
	    .item_viewer {
	        .f_left {
	        	float: none;
	        	width: 100%;
	        	height: auto;

	        	.zoomPup ,.zoomWindow {display: none!important;}

	        	.jqzoom {
	        		margin-bottom: 25px;
	        		overflow: hidden;

	        		img {
	        			display: block;
	        			max-width: 100%;
	        			margin:auto;
	        		}
	        	}
	        }

	        article {
	            width: auto;
	            position: relative;
	            margin: 0;
	            clear: both;
	        }
	    }// END .item_viewer
	}// #item_block

	.medium {
		display: none;
	}

	.item_viewer .medium {display: block;}

	.mob {
		display: block;
	}
}
@media (max-width:980px) {

	#item_block {
	    .item_info {
	        .f_left , .f_right {
	        	width: 100%;
	        	padding: 0;
	        }

	        .f_left {
	        	margin-bottom: 25px;
	        }
	    }// END .item_info
	}// #item_block
}
@media (max-width:900px) {

	#nav {
		display: none;
	}

	#nav_mob {
		display: block;
	}

	#header {
	    .content {
	    	.f-left , .f-right {
	    		margin-bottom: 10px;
	    	}
	        .search {
	        	margin: 0;
	        	clear: both;

	            p {
	                .tel {
	                    font-size: 22pt;
	                    line-height: 26pt;
	                }

	                span {
	                	font-size: 10pt;
	                }
	            }

	            form .row {
	            	margin-top: 0;
	            }

	            ul {
	            	li {
	            		&.f-right {
	            			p {
	            				font-size: 11pt;
	            			}
	            		}
	            	}
	            }
	        }// END .search
	    }// END .content
	}// END #header

	#last_viewed {
	    padding-top: 16px;

	    .f-left  {
	        width: 100%;
	    }

	    .f-right {
	    	width:100%;
	    	margin-top: 10px;
	    }
	}// END #last_viewed

	#footer {
	    ul {
	        li {
	            margin-right: 20px;
	            float: left;
	        }
	    }
	}// END #footer

	#contacts_block {
	    .f_right {
	    	float: none;

	        .contacts_tab {
	            width: 90%;
	            position: relative;
	            margin:30px auto 10px auto!important;
	            top:auto;
	            right: auto;
	            height: auto!important;

	            &:after {
					top: auto;
					bottom: -44px;
					left: 50%;
					border: solid transparent;
					content: " ";
					height: 0;
					width: 0;
					position: absolute;
					pointer-events: none;
					border-color: rgba(235, 235, 235, 0);
					border-top-color: #ebebeb;
					border-width: 22px;
					margin-left: -22px;
				}

	            & > ul {
	                padding-top: 15px;

	                & > li {
	                	display: inline-block;
	                	vertical-align: top;
	                	padding: 0;
	                	margin-right: 15px;
	                }
	            }
	        }
	    }

	    footer {
	        min-height: 120px;
	        width: 100%;
	        
	        .contacts_tab {
	            width: 90%;
	        }
	    }

	    article {
	        margin: 32px 10% 0 10%;
	        width: auto;
	        position: relative;
	    }
	}// END #contacts_block
}

@media (max-width:768px) {

	#header {
		header {
			p {
				display: none;
			}
		}
	}// END #header


	#buy_as_you_wish {
	    ul {
	        li {
	            a {
	                height: 40px;
	                line-height: 40px;
	                font-size: 12pt;
	            }

	        }
	    }
	}// END #buy_as_you_wish

	#footer {
	    ul {
	        li {
	            margin-right: 10px;
	            float: left;
	        }
	    }
	}// END #footer
}

@media (max-width:620px) {

	#main {
		padding-bottom: 10px;
	}

	#header {
		header {
			p {
				display: none;
			}
		}
	    .content {
	        .search {
	            p {
	                .tel {
	                    font-size: 13pt;
	                    line-height: 26pt;
	                }

	                span {
	                	font-size: 7pt;
	                }
	            }

	            ul {
	            	li {
	            		&.f-right {
	            			p {
	            				font-size: 9pt;
	            			}
	            		}
	            	}
	            }
	        }// END .search
	    }// END .content
	}// END #header


	#buy_as_you_wish {
	    ul {
	        li {
	            a {
	                height: 30px;
	                line-height: 30px;
	                font-size: 10pt;
	            }

	        }
	    }
	}// END #buy_as_you_wish

	#footer {
		display: none;
	}// END #footer
}

@media (max-width:489px) {

	#main {
		padding-bottom: 10px;
	}

	#header {
		header {
			p {
				display: none;
			}
		}
	    .content {
	        .search {
	        	height: auto;
	            p {
	                .tel {
	                    font-size: 13pt;
	                    line-height: 26pt;
	                }

	                span {
	                	font-size: 7pt;
	                }
	            }

	            ul {
	            	li {
	            		&.f-right {
	            			float: none;
	            			clear: both;

	            			p {
	            				font-size: 9pt;
	            			}
	            		}
	            	}
	            }
	        }// END .search

		    & > .f-right , & > .f_left {
		    	float: none;
		    	margin: auto;
		    	margin-bottom: 10px;
		    	position: relative;
		    	overflow: hidden;
		    	clear: both;
		    }

		    & > .f-left {
		    	margin: 0 0 10px 10%!important;
		    	float: none!important;
		    	height: 156px;
		    	width: 100%;

			    #logo {
			    	position: absolute;
			    	right: 0;
			    	top: 20px;
			    	left: 0;
			    	margin: auto;
			    }
		    }
	    }// END .content
	}// END #header

	#buy_as_you_wish {
	    ul {
	        li {
	            a {
	                height: 30px;
	                line-height: 30px;
	                font-size: 6pt;
	            }

	        }
	    }
	}// END #buy_as_you_wish

	#footer {
		display: none;
	}// END #footer

	#second_baner {
	    .item {
	        height: 200px;

	        article {
	            font-size: 16pt;

	            &.bottom {
	                bottom: 10px;
	            }

	            &.right {
	                right: 10px;
	            }

	            &.top {
	                top:10px;
	            }

	            &.left {
	                left: 10px;
	            }

	            span {
	                font-size: 60pt;
	            }
	        }
	    }
	}// END #baner_block

	#baner_block {
	    .item {
	        height: 250px;

	        article {
	            font-size: 16pt;

	            &.bottom {
	                bottom: 10px;
	            }

	            &.right {
	                right: 10px;
	                text-align: right;
	            }

	            &.top {
	                top:10px;
	            }

	            &.left {
	                left: 10px;
	            }
	        }
	    }
	    .owl-controls {
	        max-width:90%;

	        .owl-pagination {
	            max-width: 90%;
	        }
	    }
	}// END #baner_block
}